<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saiba mais</title>

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <main class="container">
      <header class="header row">
        <a href="/">
          <img src="../assets/images/logo.png" alt="Logo Seja Voluntario" />

          <h1 class="text-red text-shadow">Seja Voluntário</h1>
        </a>
      </header>

      <section class="notices row">
        <h2 class="text-red">{{vaga.titulo}}</h2>
        <p class="city"><strong>{{vaga.cidade}}</strong></p>
        <p>
          {{vaga.descricao}}
        </p>
        <p>
          <a class="btn btn-red" href="mailto:{{vaga.email}}">Enviar e-mail</a>
        </p>
      </section>

      <footer class="footer">
        <p><strong>Seja Voluntário</strong> - Com ❤ Lilian Dias.</p>
      </footer>
    </main>
  </body>
</html>
